$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import 'bootstrap/dist/css/bootstrap.min.css';

$accent: #c6e2ff;
$lightestest: #dce0e8;
$lightest: #c0c5ce;
$light: #a5aab6;
$medium: #65737e;
$dark: #444f5a;
$darkest: #2f363c;
$sans-serif: "Montserrat", sans-serif;
$handwriting: "Cookie", cursive;
$grid-spacing: 3%;

body {
  background: $darkest;
}

a {
  color: $accent;
  font-family: $sans-serif;
  text-decoration: none;
}

.wide {
  text-align: left;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 20px;
  width: 100%;
}

h1 {
  color: $accent;
  font-family: $handwriting;
  font-size: 104px;
  font-weight: 100;
  margin: 35px;
  padding: 50px;
  padding-top: 100px;
}

h2 {
  color: $darkest;
  font-family: $handwriting;
  font-size: 44px;
  font-weight: 100;
  margin: 0;
  padding: 30px;
  padding-top: 36px;
}

h3 {
  color: $darkest;
  font-family: $sans-serif;
  font-size: 22px;
  font-weight: 600;
  margin: 0;
  padding: 30px;
}

h4 {
  color: $dark;
  font-family: $sans-serif;
  font-size: 24px;
  font-weight: 300;
}

p {
  color: $darkest;
  font-family: $sans-serif;
  font-weight: 300;
}

.style1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.col-3 {
  display: inline-block;
  // float: left;
  width: (100% / 4) - ($grid-spacing * 9 / 12) - 3;
  margin: $grid-spacing - 2;
  text-align: center;
  vertical-align: top;
}

.col-4 {
  float: left;
  margin: $grid-spacing - 2;
  width: (100% / 3) - ($grid-spacing * 8 / 12);
}

nav {
  border: $accent 2px solid;
  color: $accent;
  height: 36px;
  margin: auto;
  padding: 14px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  width: 750px;
}

nav p,
nav a {
  color: $accent;
  display: inline;
  margin: 8px;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  font-family: $sans-serif;
  font-size: 18px;
  font-weight: 100;
  list-style-type: none;
  margin-bottom: 4px;
}

footer {
  text-align: center;
}

footer p {
  color: $accent;
}

button a {
  color: $accent;
  height: auto;
  width: auto;
}

.fab,
.far {
  font-size: 20px;
  padding-right: 8px;
}

.btn-dark {
  background: $dark;
  border-radius: 24px;
  color: $accent;
  font-family: $sans-serif;
  font-size: 14px;
  margin: 12px;
  padding: 18px;
}

.project-button {
  background-color: $dark;
  border-radius: 10px;
  color: $accent;
  font-family: $sans-serif;
  height: 32px;
  padding: 4px;
}

.project-button a {
  color: $accent;
  padding-left: 4px;
  padding-right: 4px;
}

.line {
  background-color: white;
  height: 10px;
  margin: 0;
}

#name {
  float: left;
  margin: 8px;
}

#portfolio-sections {
  float: right;
  margin: 8px;
}

#intro {
  height: 600px;
  text-align: center;
}

#intro h2 {
  color: $accent;
  font-family: $sans-serif;
  font-size: 32px;
  padding-top: 18px;
}

#about-me {
  background-color: $lightestest;
  margin: -20;
  min-height: 600px;
  padding: 40px;
  padding-top: 0;
  text-align: center;
}

#profile-pic {
  clear: left;
  display: inline;
  padding-left: 18px;
  padding-bottom: 18px;
  padding-top: 44px;
}

#about-me-text {
  clear: right;
  display: inline;
  float: left;
  line-height: 24px;
  width: 60%;
  padding: 18px;
  text-align: left;
}

#about-me-items {
  width: 90%;
}

#skills {
  background-color: $lightest;
  height: 510px;
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
}

#skills h2 {
  color: $darkest;
}

#skills h3 {
  color: $darkest;
  font-family: $sans-serif;
}

#skills li {
  color: $darkest;
}

#skills h4 {
  align-self: center;
}

#experience {
  background-color: $lightest;
  padding: 30px;
  text-align: center;
}

#experience h2 {
  padding-bottom: 40px;
}

#experience h4 {
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

#experience p {
  margin: auto;
  margin-bottom: 15px;
  margin-top: 10px;
  text-align: left;
  width: 50%;
}

#projects {
  background-color: $lightestest;
  height: 580px;
  margin: auto;
  text-align: center;
}

#project-row {
  margin-left: 20px;
}

#projects a {
  color: $accent;
  font-size: 14px;
}

#projects h3 {
  margin: 30px;
  padding: 0;
}
